<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/secundario.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <section>
                <h1>CATEGORIA</h1>
                <article>
                    <a class="a-homesecundario" href="/">
                        <img src="/img/paleta1.jpg" alt="Producto1">
                    </a>
                    <div>
                        <p class="descr"><b>Nombre del producto</b></p>
                        <p class="precios">
                            $ 20,000
                        </p>
                    </div>
                </article>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>