@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}

main {
    background-color: #686369;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
}

.formCreate {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.carga {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.campos {
    width: 80%;
    max-width: 300px;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
}

.descr {
    height: 20vh;
    border-radius: 6px;
    border: 1px solid black;
    width: 95%;
    color: black;
    padding: 12px;
    line-height: 1;
}

.informacionProducto {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.lista-errores {
    margin-top: 3vh;
    list-style: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
}

.mensaje-error {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.cargaImagen {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.cargaImagen img {
    width: 70%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    padding: 15px;
}

.file-select {
    position: relative;
    display: inline-block;
    width: 60%;
}

.file-select::before {
    background-color: #0077B6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 260px;
    height: 42px;
    display: inline-block;
}

#src-file1::before {
    content: 'Seleccionar Imagen';
    font-family: 'Ubuntu', sans-serif;
}

.boton {
    height: 8vh;
    width: 18vw;
    background-color: #0077B6;
    color: white;
    border: 1px solid #0077B6;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3vh;
    border-radius: 15px;
}

.botones {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 15px;
}

h3 {
    margin-top: 15px;
    color:white
}
.nuevoFiltro{
    height: 18vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
}

.cargaImagenFiltro {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.camposFiltro {
    width: 90%;
    max-height: 70px;
    padding: .5rem;
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
}

.cargaImagenFiltro img {
    width: 70%;
    height: auto;
    max-height: 100px;
    border-radius: 6px;
    object-fit: cover;
    padding: 15px;
}

.botonFiltro {
    height: 8vh;
    width: 65%;
    background-color: #0077B6;
    color: white;
    border: 1px solid #0077B6;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3vh;
    border-radius: 15px;
}


.FiltroInput{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.FiltroImagen{
    display: flex;
    width: 40%;
}

.FiltroBoton{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
}

.nombreFiltro{
    color:white;
}


