@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1023px) {}

@media (min-width: 1024px) {
    header {
        height: 20vh;
    }
}

header {
    background-color: #0F1618;
    color: white;
}

header i {
    font-size: 30px;
}

header img {
    height: 100%;
}

.linkLogo {
    height: 100%;
    padding: 20px;
}

.secHeader {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.secLogo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to left, #DC191B, #0F1618);
}

.secMenu {
    width: 60%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #DC191B;
    background: linear-gradient(to right, #DC191B, #0F1618);
}

.secCarrito {
    width: 20%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

.links:link,
.links:visited,
.links:active {
    text-decoration: none;
    color: white;
}