@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 767px) {
    main form {
        width: 100%;
    }
    .boton {
        height: 8vh;
        width: 50vw;
    }
    .perfil{
        flex-direction: column;
    }
    .info-items li {
        font-size: 15px;
    }
    .info{
        width: 100%;
    }
    .imagen{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .boton {
        height: 8vh;
        width: 18vw;
    }
    .perfil{
        flex-direction: row;
    }
    .info-items li {
        font-size: 23px;
    }
    .info{
        width: 50%;
    }
    .imagen{
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .boton {
        height: 8vh;
        width: 18vw;
    }
    .perfil{
        flex-direction: row;
    }
    .info-items li {
        font-size: 23px;
    }
    .info{
        width: 50%;
    }
    .imagen{
        width: 50%;
    }
}

main {
    background-color: #686369;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
}

.perfil {
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px black;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #0077B6;
    padding: 8px;
}

.boton {
    background-color: #0f1618;
    color: white;
    border: 1px solid #0f1618;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3vh;
    border-radius: 15px;
}

.imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen img {
    width: 70%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    padding: 15px;
}

.file-select {
    position: relative;
    display: inline-block;
    width: 60%;
}

.file-select::before {
    background-color: #0f1618;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 260px;
    height: 42px;
    display: inline-block;
}

#src-file1::before {
    content: 'Seleccionar Imagen';
    font-family: 'Bebas', sans-serif;
}

.info-items {
    margin-left: 15px;
}

.info-items li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: white;
}

.btnGuardar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}