@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 767px) {
    .registro{
        flex-direction: column;
    }
    .izq-campos{
        width: 100%;
    }
    .der-img{
        width: 100%;
    }
    .boton {
        height: 8vh;
        width: 50vw;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .registro{
        flex-direction: row;
    }
    .izq-campos{
        width: 50%;
    }
    .der-img{
        width: 50%;
    }
    .boton {
        height: 8vh;
        width: 18vw;
    }
}

@media (min-width: 1024px) {
    .registro{
        flex-direction: row;
    }
    .izq-campos{
        width: 50%;
    }
    .der-img{
        width: 50%;
    }
    .boton {
        height: 8vh;
        width: 18vw;
    }
}

main {
    background-color: #686369;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    background-color: #0077B6;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px black;
}

.izq-campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.der-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnregistro {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.campos {
    width: 80%;
    max-width: 300px;
    padding: .5rem;
    border-radius: 6px;
    border: none;
    outline: none;
}

.der-img img {
    width: 70%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    padding: 15px;
}

h3 {
    margin-top: 5vh;
    margin-bottom: 1vh;
    font-family: 'Bebas', sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
    font-family: 'Bebas', sans-serif;
    font-size: 40px;
}

.lista-errores {
    margin-top: 3vh;
    list-style: none;
    color: white;
    font-family: 'Bebas', sans-serif;
    justify-content: center;
    align-items: center;
}

.mensaje-error {
    color: white;
    font-family: 'Bebas', sans-serif;
}

.boton {
    background-color: #0f1618;
    color: white;
    border: 1px solid #0f1618;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3vh;
    border-radius: 15px;

}

.file-select {
    position: relative;
    display: inline-block;
    width: 60%;
}

.file-select::before {
    background-color: #0f1618;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 260px;
    height: 42px;
    display: inline-block;
}

#src-file1::before {
    content: 'Seleccionar Imagen';
    font-family: 'Bebas', sans-serif;
}