<footer id="fondo">
    <section class="secIzquierdo">
        <section class="secListados">
            <h3>Categorias</h3>
            <ul class="listaMenu">
                <li><a href="/products/lista/1">Paletas</a></li>
                <li><a href="/products/lista/2">Pelotas</a></li>
                <li><a href="/products/lista/3">Bolsos</a></li>
                <li><a href="/products/lista/4">Pistas</a></li>
            </ul>
        </section>
        <section class="secListados">
            <h3>Contacto</h3>
            <ul class="listaMenu">
                <li><a href="">Ayuda</a></li>
                <li><a href="/users/profile">Mi cuenta</a></li>
                <li><a href="">Comprar</a></li>
            </ul>
        </section>
    </section>
    <section class="secDerecho">
        <section class="secAcercaDe">
            <h3>Acerca de</h3>
            <ul class="listaMenu">
                <li><a href="">AllPadel</a></li>
                <li><a href="">Terminos y condiciones</a></li>
            </ul>
        </section>
        <section class="secRedes">
            <ul class="listaRedes">
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook-square"></i></li>
            </ul>
        </section>
    </section>
</footer>