<footer id="fondo">
    <section class="secIzquierdo">
        <section class="secListados">
            <h3>Categorias</h3>
            <ul class="listaMenu">
                <li><a href="">Paletas</a></li>
                <li><a href="">Marcas</a></li>
                <li><a href="">Formas</a></li>
                <li><a href="">Colores</a></li>
            </ul>
        </section>
        <section class="secListados">
            <h3>Contacto</h3>
            <ul class="listaMenu">
                <li><a href="">Ayuda</a></li>
                <li><a href="/users/profile">Mi cuenta</a></li>
                <li><a href="">Comprar</a></li>
            </ul>
        </section>
    </section>
    <section class="secDerecho">
        <section class="secAcercaDe">
            <h3>Administradores</h3>
            <ul class="listaMenu">
                <li><a href="/products/create">Crear Producto</a></li>
            </ul>
        </section>
        <section class="secRedes">
            <ul class="listaRedes">
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook-square"></i></li>
            </ul>
        </section>
    </section>
</footer>