<header>
    <section class="secHeader">
        <section class="secLogo">
            <img src="/img/logo.jpg" alt="AllPadel" href="/">
        </section>
        <section class="secMenu">
            <ul class="lista">
                <li><a href="" class="links">Paletas</a></li>
                <li><a href="" class="links">Marcas</a></li>
                <li><a href="" class="links">Formas</a></li>
                <li><a href="" class="links">Colores</a></li>
                <li><a href="" class="links">Contacto</a></li>
            </ul>
        </section>
        <section class="secCarrito">
            <a href="/users/login" class="links">Iniciar Sesion</a>
            <a href="/products/cart" class="links"><i class="fas fa-shopping-cart"></i></a>
        </section>
    </section>
</header>