<header>
    <section class="secHeader">
        <section class="secLogo">
            <img src="/img/logo.jpg" alt="AllPadel" href="/">
        </section>
        <section class="secMenu">
            <ul class="lista">
                <li><a href="" class="links">Paletas</a></li>
                <li><a href="" class="links">Pelotas</a></li>
                <li><a href="" class="links">Bolsos</a></li>
                <li><a href="" class="links">Pistas</a></li>
                <li><a href="" class="links">Contacto</a></li>
            </ul>
        </section>
        <section class="secCarrito">
            <a href="" class="links">Iniciar Sesion</a>
            <a href="" class="links"><i class="fas fa-shopping-cart"></i></a>
        </section>
    </section>
</header>