<header>
    <section class="secHeader">
        <section class="secLogo">
            <a href="/" class="linkLogo"><img src="/img/logo.jpg" alt="AllPadel"></a>
        </section>
        <section class="secMenu">
            <ul class="lista">
                <li><a href="/products" class="links">Paletas</a></li>
                <li><a href="/products/lista/marcas" class="links">Marcas</a></li>
                <li><a href="/products/lista/formas" class="links">Formas</a></li>
                <li><a href="/products/lista/colores" class="links">Colores</a></li>

                <% if (usuarioLog == undefined) { %>
                    <li><a href="/users/login" class="links">Perfil</a></li>
                    <% } else { %>
                        <a href="/users/profile" class="links">
                            <%= usuarioLog.nombre + " " + usuarioLog.apellido %>
                        </a>
                        <% } %>
            </ul>
        </section>
        <section class="secCarrito">
            <% if (usuarioLog == undefined) { %>
                <a href="/users/login" class="links">Iniciar Sesion</a>
                <% } else { %>
                    <a href="/users/cierre" class="links">Cerrar Sesion</a>
                    <% } %>
                        <a href="/products/cart" class="links"><i class="fas fa-shopping-cart"></i></a>
        </section>
    </section>
</header>