<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head.ejs") %>
        <link href="/css/profile.css" rel="stylesheet">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <section class="perfil">
                <section class="info">
                    <ul class="info-items">
                        <li><b>Nombre: </b>Nicolas</li>
                        <li><b>Apellido: </b>Alonso</li>
                        <li><b>Email: </b>naalonso29@gmail.com</li>
                        <li><b>Tipo de usuario: </b>Administrador</li>
                    </ul>
                </section>
                <section class="imagen">
                    <img src="/img/profiles/default.jpg" alt="">
                    <div class="file-select" id="src-file1">
                        <input type="file" name="imageProfile" aria-label="Archivo">
                    </div>
                </section>
            </section>

            <section class="btnGuardar">
                <button type="submit" class="boton">Guardar</button>
            </section>


        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>